<div class="formtainer container">
    <form action="/addburger" method="POST">
        <input type="text" name="burgerName" id="namefield">
        <input type="submit" value="submit" id="submitBtn">
    </form>
    <div class="burgertainer container">
        <div class="fresh container">

        </div>
        <div class="eaten container">

        </div>
    </div>
</div>
