* {
    margin: 0;
    padding: 0;
}

body {
    background-color: orange;
    padding: 20px;
}

.container {
    padding: 40px;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

#burgerpic {
    display: block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
    margin-top: 60px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#namefield {
    margin-top: 30px;
}

#submitBtn {
    padding: 3px 5px;
    border-radius: 5px;
    border: black solid 1px;
    transition-duration: .4s;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: rgb(3, 82, 82);
    color: white;
    letter-spacing: 3px;
}

.burgertainer {
    display: flex;
    justify-content: space-around;
}

.listContainer {
    width: 33%;
}

.listTitle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.burgerlist {
    list-style: none;
    padding: 10px;
    background-color: rgb(238, 223, 174);
    border-radius: 10px;
}

li {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.burgerlink {
    transition-duration: .2s;
    cursor: pointer;
}

.burgerlink:hover {
    color: red;
    letter-spacing: 2px;
}

.subtext {
    color: grey;
    font-size: small;
}

.eaten {
    color: grey;
}
